<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emails Page</title>
    <style>
      li {
        margin-bottom: 0.5rem;
      }
    </style>
  </head>
  <body>
    <h1>Emails Page</h1>
    <ul>
      <% emails.forEach((email) => { %>
      <li><strong>Email:</strong> <%= email %><br /></li>
      <% }); %>
    </ul>
  </body>
</html>
