<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Page View Counts</title>
  </head>
  <body>
    <h1>All routes using &lt;a&gt; tags</h1>
    <ul>
      <!-- <li><a href="/api/contact">Add a New Contact Entry</a></li>
      <li><a href="/api/contacts">Get All Contact Entries</a></li>
      <li><a href="/api/subscribe">Add a New Email Subscription</a></li>
      <li><a href="/api/subscriptions">Get All Email Subscriptions</a></li> -->
      <!-- <li><a href="/api/increment-page-view">Increment Page View Count</a></li> -->
      <li><a href="/get-view-count">Get Page View Count</a></li>
      <li><a href="/data">Get Contact Form Data</a></li>
      <li><a href="/data-list">Get Contact Form Data as List</a></li>
      <li><a href="/emails">Get Email Addresses</a></li>
      <li><a href="/emails-list">Get Email Addresses as List</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </body>
</html>
